@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

html {
    padding: 0rem;
    font-size: 16px;
}

:root {
    --blue: #1c252f;
    --white: #cfcdcd;
    --highlight: #64ffda;

    --page-gap: 1rem;

    --intro: 6rem;
    --page: 2.75rem;
    --section: 1.75rem;
    --body: 1.45rem;
}

body {
    background: var(--blue);
    font-family: 'NTR', sans-serif;
    color: #fbfbfb;
    padding: 0rem 7rem;
    font-size: var(--body);
    margin: 0rem;
}

body * {
    box-sizing: border-box;
}

h1 {
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 1.45rem;
        padding: 0rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.3rem;
        text-align: left;
    }

    h2 {
        font-size: 1.45rem;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    body {
        font-size: 1.5rem;
        padding: 0rem;
    }
}