@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

html {
    padding: 0rem;
    font-size: 16px;
}

:root {
    --blue: #1c252f;
    --white: #cfcdcd;
    --highlight: #64ffda;

    --page-gap: 1rem;

    --intro: 6rem;
    --page: 2.75rem;
    --section: 1.75rem;
    --body: 1.45rem;
    
}

@media (max-width: 480px) {
    :root {
        --intro: 3.5rem;
    }
}

body {
    background: var(--blue);
    font-family: 'NTR', sans-serif;
    color: #fbfbfb;
    font-size: var(--body);
    margin: 0rem;
    padding: 0rem;
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}