@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  background: #212020;
  font-family: 'Space Mono', monospace;
  color: #fbfbfb;
  box-sizing: border-box;
  padding-left: 7rem;
  padding-right: 4.5rem;
}